@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Oxygen:wght@300;400;700&family=Passion+One:wght@400;700;900&family=Spirax&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Oxygen:wght@300;400;700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Oxygen:wght@300;400;700&family=Passion+One:wght@400;700;900&family=Spirax&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");



@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  @apply scroll-smooth text-base;
}

body {
  @apply font-overlock dark:bg-black dark:text-black-1 font-normal  bg-white text-gray-1;
}


/* custom */

.header-font {
  @apply font-spirax text-header dark:text-primary lg:text-6xl  text-4xl
 }

.custom-max-width {
  width: min(calc(100% - 2px), 1600px);
  margin-inline: auto;
}

.dark {
  background: #090E16;
  color: #9F9DA3
}
.border-dark {
  border: 1px solid;
border-image-source: linear-gradient(243.03deg, rgba(124, 124, 124, 0.51) 29.68%, rgba(85, 85, 85, 0.18) 66.86%);

}
.header-container2 {
  background: #ffffff;
  opacity: 8%;
  border: 1px solid;
  border-image: radial-gradient(
    150.36% 227.1% at 8.75% 100%,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(201, 201, 201, 0) 100%
  );
}
